- content_for :header do
  = javascript_include_tag :ckeditor
.pad
  .new
    = form_for @pad, :remote => true do |f|
      %h3 New Pad Title
      = f.text_field :title, :size => 80
      = render :partial => "text_sample"
      = render :partial => "code_sample"
      .text-center
        = submit_tag("  OK  ")

  = render :partial => "sider"
  .clearfix

